body{
    background: var(--Gray-extra-light);
}

h1{
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


/*Nav Bar Styles*/
.nav-link{
    color: var(--Gray-dark);
}

.nav-link:hover {
    color: var(--Primary);
}

.nav-link:active {
    color: var(--Primary-dark);
}

a{
    color: var(--Primary-dark);
}

.nav-item{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    font-weight: 600;
}

.navbar{
    padding-top: 0.5rem;
    padding-bottom: 6rem;
}

/*Dropdown Styles*/
.navbar-nav .dropdown-menu {
    left: unset;
    right: 0;
}

.dropdown-item{
    color: var(--Primary);
}

.dropdown-item:hover{
    color: var(--Primary);
    background-color: var(--Primary-extra-light);
}

/*Main Section Styles*/
.mainContent {
    display: flex;
    align-items: center;
    display: inline-block;
}

.col-md-9 {
    float: right;
}

.heroImages {
    height: fit-content;
}

img {
    object-fit: contain;
    height: 517px;
    height: fit-content;
}

.cover-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
  
.text-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*Features Section Styles*/
.featuresArea{
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.featuresArea .card{
    margin-top: 30px;
}

.featureCard{
    height: 517px;
    object-fit: contain;
    padding: 20px;
    background-color: var(--Gray-extra-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

/* Need to think this through to apply only to picture
.card:hover{
    box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 0.40);
}
*/

.projectAreas .card a{
    display: block;
}

.card-body{
    background-color: var(--Gray-extra-light);
    text-align: center;
}

/*Footer Styles*/
footer{
    margin-top: 100px;
    padding: 30px;
    text-align: center;
    background: var(--Gray-extra-light);
}