:root{

    /*Color Scheme*/
    --Primary:#58BC62;
    --Primary-light: #98CA9D;
    --Primary-extra-light:#BEEBC3;
    --Primary-dark:#387D3F;
    --Secondary:#E86826;
    --Secondary-light:#E7A482;
    --Secondary-extra-light:#FFDECD;
    --Secondary-dark:#9A4215;
    --Tertiary: #00A2D6;
    --Tertiary-light:#70BED8;
    --Tertiary-extra-light:#D7EDF4;
    --Tertiary-dark:#036C8E;
    --Danger:#ee008d;
    --Danger-light:#f183be;
    --Danger-dark:#b10068;
    --Warning:#eebe14;
    --Warning-light:#F0D576;
    --Warning-dark:#AD8806;
    --Success:#90f138;
    --Success-light:#c6f894;
    --Success-extra-light:#f2fee5;
    --Success-dark:#08b226;
    --Gray:#595959;
    --Gray-light:#767676;
    --Gray-extra-light:#e0e0e0;
    --Gray-dark:#272727;
    --White:#ffffff;
    --Primary-gradient:linear-gradient(180deg, #58BC62 0%, #D2FFD7 34.9%, #FFF 98.44%);
    --Primary-gradient-rev:linear-gradient(180deg, #D2FFD7 0%, #8BD793 59.9%, #58BC62 100%);

    /*Fonts*/
    --font-size-h1:6rem;
    --font-size-h2:3.75rem;
    --font-size-h3:3rem;
    --font-size-h4:2.125rem;
    --font-size-h5:1.5rem;
    --font-size-h6:1.25rem;
    --font-size-body-small:0.875rem;
    --font-size-button:0.875rem;
}